__pycache__
.history
.hypothesis/
build/
reports/
.DS_Store
venv
scraps
.pytest_cache
scripts/debugging_aids
contracts/KhronusTimeCog_Contract.sol
tests/test_gas_TimeCog.py
scripts/flatten_file.py
flatten_file.txt